@model CRUDEmpresas.Models.Empresas

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empresas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompaniesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompaniesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompaniesCNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompaniesCNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="hidden" asp-for="CompaniesID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
