@model CRUDEmpresas.Models.Empresas

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Empresas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompaniesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompaniesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompaniesCNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompaniesCNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompaniesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
